.main{
    width: 1000px;
    height: 400px;
    background: red;
    font-size: 100px;
    color: blue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main:hover{
    height: 300px;
    color: black;
    background-color: green;
}